@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Pacifico&family=Poppins&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
#navbar{
    background-color: #0C356A !important;
    position: sticky;
    top: 0;
    left: 0;
}
nav .navbar-brand{
    color: #D5FFD0 !important;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
}
#navbar #navbarNavAltMarkup a{
    color: #40e0e6 !important;
    font-size: 20px;
    font-weight: 600;
}
#navbarNavAltMarkup #search{
    background: transparent !important;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    margin-left: 30px;
}
#navbarNavAltMarkup #searchbtn{
    color:#063133;
    font-weight: 600;
    height: 40px;
    background-color: #40e0e6;
    -webkit-box-shadow:none;
    box-shadow: none;
}
#navbarNavAltMarkup #searchbtn:focus{
    background: transparent;
    -webkit-box-shadow:none;
    box-shadow: none;
}
#navbarNavAltMarkup a i{
    color: #D5FFD0;
}
#logout{
    background-color: #D5FFD0;
    border-radius: 30px;
    color: #063133;
    font-size: 20px;
    font-weight: 600;
}
#logout:hover{
    filter: brightness(150%);
    color: #094a54;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(/media/pads.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home h1{
    font-size: 100px;
    color: #40e0e6;
    letter-spacing: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #0C356A,
                0px 2px 0px #0C356A,
                0px 3px 0px #0C356A,
                0px 4px 0px #0C356A,
                0px 5px 0px #0C356A;
                
}
#home p{
    font-size: 18px;
    font-weight:500;
    color: #40e0e6;
}
#home .input-group{
    width: 40%;
    height: 43px;
}
#home button{
    background-color:#0C356A ;
    color: white;
    box-shadow: 2px 4px 5px rgba(22, 22, 22,.4) ;
}
#product{
    color: red;
    display: flex;
    gap: 300px;
}
#product .card{
    background-color: #a1d6d7;
}
#product{
    background:rgb(36, 53, 62);
}
#product h1{
    position: relative;
    top: -230px;
    letter-spacing: 6px;
    font-size: 50px;
    font-weight: 700;
    color: #57effd;
    text-shadow: 0px 1px 0px rgb(9, 196, 31),
    0px 2px 0px rgb(9, 196, 31),
    0px 3px 0px rgb(9, 196, 31);
}
/*.card{
    margin: 25px;
    width: 250px;
    height: 300px;
    background: rgb(36, 53, 62) !important;
    border: none !important;
}*/
/*#product img{
    width: 300px;
    height: 300px;
}*/
.card{
    position: absolute;
    top: -250px;
    margin: 25px;
    box-shadow: 20px 20px 40px black;
    border-radius:20px !important;
}
#product img{
    border-radius:20px !important;
}
.card h5{
    font-size: 20px;
    font-weight: 500;
}
.card{
    transition: .6s;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.1) !important;
    box-shadow: -20px -20px 40px black;
}